/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
body {
  margin-top: 4rem;
  /* Set up the grid and justify/align to center */
  display: flex;
  justify-content: center;
  align-content: center;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}