/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
body {
  padding: 0;
  margin: 0;
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}

#prison {
  width: 30vw;
  height: 30vw;
  border: 5px dashed black;
  display: grid;
  justify-content: center;
  align-content: center;
}

#prisoner {
  font-size: 2rem;
}

.prisoner-dragging {
  color: #4444ff;
  text-decoration: underline;
}

#escape-tunnel {
  width: 5vw;
  height: 5vw;
  border: 2px dashed black;
  border-radius: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}