/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
body {
  margin: auto;
  display: grid;
  /* Set up the grid and justify/align to center */
  /* justify-content: center;
  align-content: center; */
  /* Body is the height of the viewport */
  height: 100vh;
  /* Hide anything that goes off the window size */
  overflow: hidden;
  background-color: #afafaf;
}

/* CUSTOMIZE TEXT AREA FOR REDACTIONS */
#secret-doc {
  padding: .5rem;
  font-family: monospace;
  font-size: 1rem;
  width: 75vw;
  margin: auto;
  color: #141414;
}

.redacted {
  background-color: #141414;
  user-select: none;
}

.revealed {
  color: #D23;
  text-decoration: underline;
}

/* CUSTOMIZE STAMP EFFECT FOR TITLES */
.stamp {
  font-family: 'Courier';
  font-weight: 700;
  font-size: 3rem;
  color: #D23;
  /* border-radius: 1rem; */
  border: .75rem solid #D23;
  display: inline-block;
  padding: 0.25rem 1rem;
  margin-bottom: 1rem;
  -webkit-mask-position: 13rem 6rem;
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  /* transform: rotate(5deg); */
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.recipe {
  color: #6b3e37;
  border: .5rem solid #6b3e37;
}

div {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: #D23;
  display: none;
}

div span {
  position: absolute;
  top: 25%;
  left: 17%;
}

.warning {
  position: absolute;
  top: 45%;
  left: 12%;
}

.proceed {
  position: absolute;
  top: 83%;
  left: 41%;
  color: #6b3e37;
  border: none;
  font-size: 1.5rem;
}

div p {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}