/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
body {
  margin: 1rem 2rem;
  /* Set up the grid and justify/align to center */
  display: grid;
  /* justify-content: center;
  align-content: center; */
  /* Body is the height of the viewport */
  height: 100vh;
  /* Hide anything that goes off the window size */
  overflow: hidden;
}

#poem {
  font-size: 1.2rem;
}

#answer {
  width: 10rem;
  height: 2rem;
  border: 1px dashed #141414;
}

#hint {
  font-size: 1rem
}

.found {
  color: red;
}